# packaging for release builds

name: Package

on: [push]

jobs:
  fpm:
    name: ${{ matrix.pkg }}
    runs-on: ${{ matrix.os }}-latest

    strategy:
      fail-fast: false
      matrix:
        # others: cpan, gem, npm, osxpkg, p5p, pacman, pear, pkgin, pleaserun, puppet, python, snap, solaris, virtualenv ]
        pkg: [ apk, deb, dir, freebsd, rpm, sh, tar, zip ]
        os: [ ubuntu ]
        cc: [ gcc ]
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive

    - name: dependencies (Ubuntu)
      if: matrix.os == 'ubuntu'
      run: |
        uname -a
        sudo apt-get install bmake pcregrep
        ${{ matrix.cc }} --version

    - name: make
      run: |
        find . -name 'parser.?' -exec touch '{}' \; # workaround for git checkout timestamps
        find . -name 'lexer.?' -exec touch '{}' \; # workaround for git checkout timestamps
        bmake -r -j 2 PKGCONF=pkg-config CC=${{ matrix.cc }}

    - name: test
      # I don't want to build SID just for sake of its -l test
      # Same for lx
      run: bmake -r -j 2 PKGCONF=pkg-config NOSTRIP=1 SID='true; echo sid' LX='true; echo lx' CC=${{ matrix.cc }} test

    - name: install
      run: |
        bmake -r -j 2 PKGCONF=pkg-config CC=${{ matrix.cc }} PREFIX=prefix/usr install
        mkdir pkg

    - name: Package
      uses: bpicode/github-action-fpm@master
      with:
        fpm_args: ''
        fpm_opts: '-C prefix -p pkg/ -n libfsm -t ${{ matrix.pkg }} -v 0.${{ github.sha }} -m kate@elide.org -s dir'

    - uses: actions/upload-artifact@v2
      with:
        name: ${{ github.sha }} ${{ matrix.pkg }}
        path: pkg/* # single file here (because this is a matrix build), name format differs per package type     

  # this differs from the emcc CI in that it's a release build
  wasm:
    name: ${{ matrix.pkg }}
    runs-on: ${{ matrix.os }}-latest

    strategy:
      fail-fast: false
      matrix:
        pkg: [ wasm ] # just so we can control the top-level name
        os: [ ubuntu ]
        cc: [ emcc ]
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive

    # the xenial emscripten package is old (and doesn't support wasm);
    # this brings in emsdk which is more recent, and does.
    - uses: mymindstorm/setup-emsdk@v7

    - name: dependencies
      run: |
        sudo apt-get update
        sudo apt-get install bmake # wabt is not in xenial
        # emcc -v # first run to generate ~/.emscripten only needed for system package
        emcc -v # informational
        curl https://wasmtime.dev/install.sh -sSf | bash # not packaged for ubuntu
        # . ~/.bashrc for the paths added by wasmtime's installation does not work here
        # I can't figure out why, so I'm just setting the paths by hand.
        export WASMTIME_HOME="$HOME/.wasmtime"
        export PATH="$WASMTIME_HOME/bin:$PATH"
        wasmtime --version

    - name: make
      run: |
        find . -name 'parser.?' -exec touch '{}' \; # workaround for git checkout timestamps
        find . -name 'lexer.?' -exec touch '{}' \; # workaround for git checkout timestamps
        bmake -r -j 2 NOSTRIP=1 PKGCONF=pkg-config CC=${{ matrix.cc }}

    - name: test
      # I don't want to build SID or lx just for sake of their -l test
      # and wasm-validate is not packaged for xenial
      run: |
        export WASMTIME_HOME="$HOME/.wasmtime"
        export PATH="$WASMTIME_HOME/bin:$PATH"
        bmake -r -j 2 PKGCONF=pkg-config SID='true; echo sid' LX='true; echo lx' WASM_VALIDATE='true; echo wasm-validate' CC=${{ matrix.cc }} test

    - uses: actions/upload-artifact@v2
      with:
        name: ${{ github.sha }} wasm
        path: build/bin/*.wasm

